<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.job.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.ice.job.model.entity.Employee">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="advantage" column="advantage" jdbcType="VARCHAR"/>
            <result property="qualificationIds" column="qualificationIds" jdbcType="VARCHAR"/>
            <result property="skillTag" column="skillTag" jdbcType="VARCHAR"/>
            <result property="education" column="education" jdbcType="INTEGER"/>
            <result property="graduateYear" column="graduateYear" jdbcType="INTEGER"/>
            <result property="jobStatus" column="jobStatus" jdbcType="TINYINT"/>
            <result property="biography" column="biography" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,gender,
        age,advantage,qualificationIds,skillTag,education,
        majorId,schoolId,
        graduateYear,jobStatus,
        biography,createTime,
        updateTime,isDelete
    </sql>
</mapper>
