<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.job.mapper.EmployeeBiographyMapper">

    <resultMap id="BaseResultMap" type="com.ice.job.model.entity.EmployeeBiography">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="biographyName" column="biographyName" jdbcType="VARCHAR"/>
            <result property="biographyAddress" column="biographyAddress" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,biographyName,
        biographyAddress,createTime,updateTime,
        isDelete
    </sql>
</mapper>
