<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.job.mapper.EmployeeWishCareerMapper">

    <resultMap id="BaseResultMap" type="com.ice.job.model.entity.EmployeeWishCareer">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="positionId" column="positionId" jdbcType="BIGINT"/>
            <result property="industryIds" column="industryIds" jdbcType="VARCHAR"/>
            <result property="salaryExpectation" column="salaryExpectation" jdbcType="VARCHAR"/>
            <result property="cityId" column="cityId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,positionId,
        industryIds,salaryExpectation,cityId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
